* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #ff95d1;
    padding-top: 25vh;
}

.horizontal-center {
    margin: auto;
}

.content {
    background-color: #ffa8d0;
    height: 50vh;
    width: 100vw;
    padding-top: 44px;
}

.search-box {
    height: 80%;
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: #ffd4e8;
    border: #ff97c6 solid 1px;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(255, 133, 189, 0.8), 0 0 8px rgba(255, 133, 189, 0.8), 0 0 8px rgba(255, 133, 189, 0.8), 0 0 8px rgba(255, 133, 189, 0.8);
}

.search-box__logo {
    height: 40px;
    width: auto;
    display: inline-block;
    margin-top: 32px;
}

.search-box__heading {
    font-size: 28px;
}

.search-box__info {
    margin: 12px 0 20px 0;
    font-size: 20px;
}

.search-box__input {
    width: 60%;
    height: 32px;
    padding: 16px;
    border-radius: 20px;
    font-size: 14px;
}

.search-box__input:focus-visible {
    outline: solid 2px #ff95d1;
}

.search-box__btn {
    display: block;
    margin: 16px auto;
    padding: 8px 40px;
    background-color: #ffb6dc;
    border-radius: 16px;
    font-size: 16px;
}

.search-box__btn:hover {
    cursor: pointer;
}